<nav class="px-10 py-5 items-center grid grid-cols-2">
    <div class="flex items-center">
        <img src="../../assets/images/chat_logo.png" alt="chat logo" srcset="" class="w-10" />
        <p class="font-bold pl-3">ChatBOT</p>
    </div>

    <section class="flex items-center justify-between">
        <ul class="flex gap-6">
            @for (items of items_m; track items.name) {

            @if ( items.activate == true) {
            <li class="relative">
                <span class="absolute top-6 w-10 h-1 bg-green-700" style="right: -15%;"></span>
                <p class="font-bold uppercase text-xs text-green-700">{{ items.name }}</p>
            </li>
            } @else {
            <li>
                <p class="font-bold uppercase text-xs text-gray-700">{{ items.name }}</p>
            </li>
            } }

        </ul>

        <div class="flex justify-end">
            <i class="pr-10 text-2xl fa-solid fa-magnifying-glass"></i>

            <div class="relative">
                <span class="absolute top-0.5 right-0 w-2 h-2 bg-yellow-600"></span>
                <i class="text-2xl fa-regular fa-bell"></i>
            </div>
        </div>
    </section>
</nav>