<nav class="px-10 py-5 items-center grid grid-cols-2">
    <div class="flex items-center">
        <img src="../../assets/images/chat_logo.png" alt="chat logo" srcset="" class="w-10" />
        <p class="font-bold pl-3">ChatBOT</p>
    </div>

    <section class="flex items-center justify-between">
        <ul class="flex gap-6">
            <li class="font-bold uppercase text-xs text-gray-700">home</li>
            <li class="font-bold uppercase text-xs text-gray-700">chat</li>
            <li class="font-bold uppercase text-xs text-gray-700">contacts</li>
            <li class="font-bold uppercase text-xs text-gray-700">settings</li>
            <li class="font-bold uppercase text-xs text-gray-700">fags</li>
            <li class="font-bold uppercase text-xs text-gray-700">terms of use</li>
        </ul>

        <section class="flex justify-end">
            <div>
                <i class="pr-10 text-2xl fa-solid fa-magnifying-glass"></i>
                <i class="text-2xl fa-regular fa-bell"></i>
            </div>
        </section>
    </section>
</nav>