<section class="bg-white p-6 px-10 rounded-2xl h-80 relative">
    <div class="flex justify-start gap-5">
        <div class="flex flex-col items-center">
            <img class="rounded-full w-14" src="https://randomuser.me/api/portraits/men/46.jpg" alt="">
            <p class="mt-1 font-bold text-gray-600 text-xs">09:00</p>
        </div>

        <div class="flex flex-col gap-3">
            <div>
                <div class="bg-gray-100 p-5 w-56 rounded-2xl">
                    <p class="text-gray-700">Hi there, How are you?</p>
                </div>
            </div>

            <div>
                <div class="bg-gray-100 p-5 w-4/5 rounded-2xl">
                    <p class="text-gray-700">Waiting for you replay. As I have to go back soon. I have to travel long
                        distance.</p>
                </div>
            </div>
        </div>
    </div>

    <app-send />
</section>