<section class="bg-white p-6 rounded-2xl">
    <div class="flex justify-between mb-7">
        <div class="flex gap-3 justify-center items-center">
            <div class="relative">
                <div class="absolute bottom-0.5 right-0 w-3.5 h-3.5 rounded-full bg-green-500 border-2 border-white"></div>
                <img class="rounded-full w-14" src="https://randomuser.me/api/portraits/men/46.jpg" alt="">
            </div>
            <div>
                <p class="text-1xl font-bold text-gray-700">John Doe</p>
                <p class="text-xs font-light">Hi there, How are you?</p>
            </div>
        </div>

        <div>
            <p class="font-bold text-gray-700 text-xs">09:00</p>
        </div>
    </div>

    <div class="flex justify-between mb-7">
        <div class="flex gap-3 justify-center items-center">
            <div class="relative">
                <div class="absolute bottom-0.5 right-0 w-3.5 h-3.5 rounded-full bg-green-500 border-2 border-white"></div>
                <img class="rounded-full w-14" src="https://randomuser.me/api/portraits/women/78.jpg" alt="">
            </div>
            <div>
                <p class="text-1xl font-bold text-gray-700">Jessie Woo</p>
                <p class="text-xs font-light">Working with you like dream!</p>
            </div>
        </div>

        <div>
            <p class="font-bold text-gray-700 text-xs">08:50</p>
        </div>
    </div>
</section>