<article class="flex p-10 justify-between">
    <div class="bg-white px-5 py-3 rounded-full w-96 flex items-center justify-center">
        <div>
            <i class="text-gray-500 pr-3 text-1xl fa-solid fa-magnifying-glass"></i>
        </div>
        <input class="text-gray-600 text-xs w-full font-bold" type="search" name="" id="" placeholder="SEARCH">
    </div>

    <div>
        <button class="mr-3 cursor-pointer uppercase text-xs font-bold text-gray-600 bg-white px-5 py-3 rounded-full">clear chat</button>
        <button class="cursor-pointer uppercase text-xs font-bold text-gray-600 bg-white px-5 py-3 rounded-full">more</button>
    </div>
</article>